.about {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .aboutTop {
    width: 94%;
    height: 600px;
    margin-left: 35px;
  }
  .aboutTop img {
    width:100%;
  }
  
  .aboutBottom {
    display: flex;
    flex-direction: column;
    height: 35%;
    align-items: center;
    margin-top: 5px;
  }
  .about .aboutBottom .heade {
    padding: 16px;
    font-weight: 400;
    font-size: 50px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
  }
  
  @media only screen and (max-width: 650px) {
    .about .aboutBottom .heade {
      font-size: 35px;
    }
    .aboutBottom {
      height: 84%;
      margin-top: 0;
    }
    .aboutTop {
      height: 35%;
    }
  }